// 底部操作栏
.bottomFixBar{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 56px;
  display: flex;
  background: #fff;
  align-items: center;
  z-index: 128;
  box-shadow:0px -1px 2px rgba(0,0,0,0.03);
  .main{
    width: 1440px;
    height: 100%;
    margin: auto;
    .btnCtn{
      float: right;
      display: flex;
      align-items: center;
      height: 100%;
      .btn{
        margin-left: 22px;
      }
    }
  }

  .buttonList {
    position: relative;
    display: inline-block;

    &:hover {
      .otherInfoCtn {
        display: block;
      }
    }

    .text {
      margin-left: 8px;
    }

    .otherInfoCtn {
      position: absolute;
      bottom: 20px;
      right: -80px;
      display: none;
      padding: 80px 80px 12px 80px;

      .otherInfo {
        padding-bottom: 12px;
        margin-bottom: 6px;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        width: 260px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .btn {
          margin: 12px 12px 0 12px;
          display: inline-block;

          .icon {
            width: 18px;
            height: 18px;
            display: inline-block;
            background: #fff;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .iconfont {
    font-size: 18px;
    vertical-align: middle;
  }
}