.listCtn{
  padding: 20px 32px;
  .explainCtn{
    padding: 12px;
    background: #F0F2F5;
    color: @font65;
    font-size: @fontMiddle;
    margin: 12px;
    border-radius: 4px;
  }
  .filterCtn{
    max-height: 34px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
    &.showMore{
      max-height: 9999px;
      min-height: 32px;
    }
    .leftCtn{
      max-width: 1030px;
      padding-right: 70px;
      position: relative;
      .label{
        display: inline-block;
        font-size: @fontMiddle;
        line-height: 32px;
        color: @font85;
        margin-right: 8px;
        margin-bottom: 16px;
      }
      .elCtn{
        display: inline-block;
        width:210px;
        margin-right: 16px;
        margin-bottom: 16px;
        height: 32px!important;
        &.middle{
          vertical-align: middle;
        }
      }
      .showMore{
        position: absolute;
        right: 0;
        top: 0;
        line-height: 32px;
        width: 70px;
        text-align: left;
        cursor: pointer;
        font-size: @fontMiddle;
        color: @font45;
        &:hover{
          color: @hoverBlue;
        }
      }
    }
    .rightCtn{
      min-width: 200px;
      .btn{
        margin-left: 12px;
      }
    }
  }
  .list{
    display: block;
    margin: 24px 0;
    max-width: 100%;
    position: relative;
    .overflow{
      overflow: auto;
      .tableCtn{
        display: flex;
        max-width: 1302px;
      }
    }
    .headCtn{
      background: #F4F4F4;
      color: @font85;
      font-size: @fontBig;
    }
    .bodyCtn{
      color: @font65;
      background: #fff;
      font-size: @fontBig;
    }
    .row{
      display: flex;
      height: 50px;
      width: 100%;
      .column{
        display: flex;
        align-items: center;
        padding:0 12px;
        flex: 1;
        &.noPad{
          padding: 0;
        }
        .elicon{
          vertical-align: middle;
          margin-left: 5px;
          cursor: pointer;
          color: @font45;
          &:hover{
            color: @blue;
          }
        }
        &.min120{
          min-width: 120px;
          max-width: 120px;
        }
        .col_btn{
          cursor: pointer;
          user-select: none;
          color: @gray;
          margin-left: 16px;
          &:first-child{
            margin-left: 0;
          }
          &.blue{
            color: @blue;
          }
          &.orange{
            color: @orange;
          }
          &.red{
            color: @red;
          }
          &.green{
            color: @green;
          }
        }
      }
      border-bottom: 1px solid @border;
      &:nth-last-child(1){
        border-bottom: 0;
      }
    }
    .floatL{
      position: absolute;
      left: 0;
      top: 0;
      background: @white;
      box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.16);
    }
    .floatR{
      position: absolute;
      right: 0;
      top: 0;
      background: @white;
      box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.16);
    }
  }
  .otherInfo{
    margin:15px 0;
    display: flex;
    line-height: 40px;
    .box{
      margin-right: 24px;
      .label{
        font-size: 16px;
      }
      .info{
        font-weight: bold;
        font-size: 18px;
        margin-left: 8px;
      }
    }
  }
  .pageCtn{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .list{
    ::-webkit-scrollbar {
      /*滚动条整体样式*/
      width: 16px;
      /*高宽分别对应横竖滚动条的尺寸*/
      height: 16px;
    }
  
    ::-webkit-scrollbar-thumb {
      /*滚动条里面小方块*/
      border-radius: 10px;
      background-color: @blue;
      background-image: -webkit-linear-gradient(45deg,
          rgba(255, 255, 255, 0.1) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.1) 50%,
          rgba(255, 255, 255, 0.1) 75%,
          transparent 75%,
          transparent);
    }
  
    ::-webkit-scrollbar-track {
      /*滚动条里面轨道*/
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
      background: #ededed;
      border-radius: 8px;
    }
  }
}